        </div>
        <footer>
            <% if(typeof hideBackLink === 'undefined' || hideBackLink == false) { %>
                <a href="/"><< Back</a>
            <% } %>
        </footer>
    </body>
</html>